.ag-table-custom {

    // root
    .ag-root-wrapper {
        border: 1px solid #e6e8ea;
    }

    // header
    .ag-table-header {
        background: #e6e8ea !important;
        font-weight: 500;
        color: #1e2329;
        border-right: 1px solid white;
        padding: 0 10px;
        font-size: 14px;
    }

    .custom-header-checkbox {
        // border: 1px solid blue;
        background: #e6e8ea !important;
        font-weight: 500;
        color: #1e2329;
        border-right: 1px solid white;

        font-size: 14px;
    }

    .ag-header {
        border-bottom: 1px solid white;
    }

    .ag-header-cell-resize::after {
        background-color: transparent !important;
    }

    .ag-menu-header {
        display: none !important;
    }

    // row
    .ag-table-row {
        background-color: white;
        border-bottom: 1px solid white;

        &:nth-child(2n) {
            background-color: #f5f6f7;
        }

        &:hover {
            background: #1890ff33 !important;
        }
    }

    .ag-row-selected {
        background: #1890ff33 !important;
    }

    // cell
    .ag-table-cell {
        border-right: 1px solid #e6e8ea !important;
        padding: 0 10px;
        line-height: 40px !important;
    }
}