@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  color: #202027;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #202027;
  font-size: 15px;
}

option {
  color: #202027;
}

.text-18 {
  font-weight: 500;
  font-size: 18px;
  color: #202027
}

.text-12 {
  font-weight: 500;
  font-size: 12px;
  color: #9C9C9C;
  line-height: 1;
}

.active-color {
  color: #fff;
}

.inactive-color {
  color: #202027;
}

.custom-input {
  min-width: 150px;
  height: 38px;
  border: 1px solid #b6b6b6;
  border-radius: 20px;
  background-color: #FFFFFF;

  color: #202027;
  font-size: 15px;
  font-weight: 500;
}

.dropdown {
  padding-left: 8px;
  padding-right: 8px;
}

.custom-button {
  justify-content: center;
  align-items: center;
  /* padding: 10px 16px; */
  height: 38px;
  border-radius: 20px;
}

.custom-button span {
  color: #fff;
  font-weight: 400;
  font-size: 15px;
}

.button-primary {
  background-color: #045993;
}

.button-danger {
  background: #FFEEEE;
  border: 1px solid #FFA6A6;
}

.button-danger span {
  color: #202027;
}


:where(.css-dev-only-do-not-override-12jzuas).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  width: 250px;
  height: 38px;
  border: 1px solid #b6b6b6;
  border-radius: 20px;
  /* background-color: transparent !important; */
  background-color: #Fff;
  /* border: none !important; */
}



.ant-select-selection-item {
  height: 38px;
  line-height: 2.7;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
  height: 38px;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-select-single .ant-select-selector .ant-select-selection-placeholder {
  line-height: 36px;
}

/* :where(.css-dev-only-do-not-override-12jzuas).ant-input-affix-wrapper>input.ant-input {
  background-color: #F5F5F5 !important;
} */

.btn-logout {
  font-weight: 700;
  font-size: 16px;
  color: #FF2323;
}

.w-330 {
  width: 330px;
}

input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: #F5F5F5 !important;
  color: fieldtext !important;
}

.button-dash {
  background: #A7A7A7;
}

.button-dash span {
  color: #fff;
}

.w-200 {
  width: 200px;
}

input::placeholder {
  color: #c5c5c5 !important;
  font-size: 14px !important;
}

.ant-select-selection-search-input::placeholder {
  color: #202027 !important;
  font-size: 14px !important;
}

.ant-select-selection-placeholder {
  color: #202027 !important;
  font-size: 14px !important;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-table-wrapper .ant-table-thead>tr>th, :where(.css-dev-only-do-not-override-12jzuas).ant-table-wrapper .ant-table-thead>tr>td {
  background: transparent;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-table-wrapper .ant-table {
  background-color: transparent;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-table-wrapper .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before, :where(.css-dev-only-do-not-override-12jzuas).ant-table-wrapper .ant-table-thead>tr>td:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  width: 0px;
}


:where(.css-dev-only-do-not-override-12jzuas).ant-pagination .ant-pagination-item {
  border-radius: 20px;
}

.button-admin {
  background-color: #045993;
}

.button-osa {
  background-color: #E78C21;
}

.button-csdt {
  background-color: #6BC9CA;
}

.text-breadcrumb-admin {
  color: #045993;
}

.text-breadcrumb-osa {
  color: #E78C21;
}

.text-breadcrumb-csdt {
  color: #6BC9CA;
}

.pagination-admin .ant-pagination-item-active {
  border-color: #045993;
  background-color: #045993;
}

.pagination-admin .ant-pagination-item-active a {
  color: #fff;
}

.pagination-csdt .ant-pagination-item-active a {
  color: #fff;
}

.pagination-osa .ant-pagination-item-active a {
  color: #fff;
}

.pagination-csdt .ant-pagination-item-active {
  border-color: #6BC9CA;
  background-color: #6BC9CA;
}

.pagination-osa .ant-pagination-item-active {
  border-color: #E78C21;
  background-color: #E78C21;
}

.chakra-button.css-149pbde {
  font-size: 14px;
  font-weight: 500;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-table-wrapper .ant-table-thead>tr>th, :where(.css-dev-only-do-not-override-12jzuas).ant-table-wrapper .ant-table-thead>tr>td {
  border-top: 1px solid #f0f0f0;
}

.fill-color path {
  fill: #FF2323;
  /* color: ; */
}

.w-custom, .w-custom-1 {
  width: auto !important;
}

.w-custom-1 .ant-select-selector {
  width: 320px !important;
}

.w-custom .ant-select-selector {
  width: 327px !important;
}

.w-full {
  width: 100%;
}

.ant-modal-footer {
  display: none;
}

.ant-modal-header {
  padding: 16px;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-modal .ant-modal-content {
  border-radius: 16px;
  padding: 0 !important;
}

.ant-modal-close {
  color: #FF4B4B;
  font-weight: 500;
  font-size: 18px;
}

.ant-modal-title {
  font-weight: 500;
  font-size: 18px;
  color: #4A4A4A;
}

.ant-modal-body {
  /* padding-top: 16px; */
}

:where(.css-dev-only-do-not-override-12jzuas).ant-form-item {
  margin-bottom: 15px;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-modal .ant-modal-header {
  border-radius: 16px;
}

.dashed-button {
  border-color: #00AEEF;
  height: 52px;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 15px;
  width: 75%;
}

.custom-input.w-full .ant-select-selector {
  width: 100%;
}

.ant-select-selection-item {
  display: flex;
  align-items: center;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-btn-default.button-admin:disabled {
  opacity: .3;
  background-color: #045993;
  border-color: #045993;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-btn-default.button-csdt:disabled {
  opacity: .3;
  border-color: #6BC9CA;
  background-color: #6BC9CA;

}

:where(.css-dev-only-do-not-override-12jzuas).ant-btn-default.button-osa:disabled {
  opacity: .3;
  border-color: #E78C21;
  background-color: #E78C21;

}

.w-full .ant-select-selector {
  width: 100% !important;
}

.btn-F3C262:where(.css-dev-only-do-not-override-12jzuas).ant-btn-default:not(:disabled):hover {
  background: #F3C262;
  border-color: #F3C262;
}

.btn-FF4B4B:where(.css-dev-only-do-not-override-12jzuas).ant-btn-default:not(:disabled):hover {
  background: #FF4B4B;
  border-color: #FF4B4B;
}

.btn-F3C262 {
  background: #F3C262;
  border-color: #F3C262;
}

.btn-FF4B4B {
  background: #FF4B4B;
  border-color: #FF4B4B;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-radio-wrapper span.ant-radio+* {
  font-size: 14px;
  font-weight: 400;
}

.btn-F3C262, .btn-FF4B4B {
  width: 100px;
}

.text-bold {
  font-weight: 500;
  font-size: 15px;
  color: #202027;
}