.tabs-panel {
	position: absolute;
	top: -46px;
	left: 0px;
}

.organization-information, .training-facilities {
	border-radius: unset;
	box-shadow: unset;
	border-color: #004E7B;
	padding: 10px 80px;
	height: 46px;
}

.organization-information {
	border-top-left-radius: 16px;

}

.training-facilities {
	border-top-right-radius: 16px;
}

.organization-information.active, .training-facilities.active {
	background-color: #004E7B;
	color: #fff;
}

.organization-information.active span, .training-facilities.active span {
	color: #fff;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-btn-default.organization-information:not(:disabled):hover, :where(.css-dev-only-do-not-override-12jzuas).ant-btn-default.training-facilitie:not(:disabled):hover {
	border-color: unset
}